{
  "name": "<string identifying relay>",
  "description": "<string with detailed information>",
  "pubkey": "<administrative contact pubkey>",
  "contact": "<administrative alternate contact>",
  "supported_nips": [1,11,42,47,57],
  "software": "https://github.com/mutatrum/ligess",
  "version": "#5d58120",
  "limitation": {
    "auth_required": true
  }
}